<h1>Showing the pins below</h1>

<table border = 1 cellpadding = 5px>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Characters</th>
      <th>Output</th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
         <td><%= pin.id %></td>
        <td><%= pin.description %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= pin.description.length %>
 characters </td>
 <td>edit_pin_path(pin): <%= edit_pin_path(pin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Pin', new_pin_path %>

</div>


<br><br><br><hr style="height:5px;border:none;color:#333;background-color:red;" />
<div class ="container">
<% 
=begin

**JUST SCREWING AROUND BELOW, STRING EXPERIMENTAL TABLE
%>

<% 
=end %>

<H1>String experiment table</h1>
<table border = 1 cellpadding = 5px>
<thead>
  <tr>
    <th>HOW DO I MAKE THIS GO ALL THE WAY ACROSS??</TH>
  </tr>
     <tr> 
      <th>String</th>
      <th>Result/output</th>
      <th>Characters</th>
    </tr>
</thead>

<tbody>

  <tr>
  <td>edit_pin_path(pin)</td>
  <td>MAKE THIS WORK: percent = edit_pin_path(pin)  percent ></td>
  <td>charnum</td>
  </tr>
<tr>
  <td>pin, method: :delete</td>
  <td> percent = pin, method: :delete percent > </td>
  <td>charnum</td>
</tr>
</tbody>
</table>



</div>

